<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>


    <settings>
         <!-- goods_id ==> goodsId 驼峰命名转换 -->
         <setting name="mapUnderscoreToCamelCase" value="true"/>
     </settings>

   <environments default="dev">

     <environment id="dev">
       <transactionManager type="JDBC"/>
       <dataSource type="POOLED">
             <property name="driver" value="com.mysql.jdbc.Driver"/>
             <property name="url" value="jdbc:mysql://localhost:3306/babytun?useUnicode=true&amp;characterEncoding=utf-8"/>
             <property name="username" value="root"/>
             <property name="password" value="root"/>
       </dataSource>
     </environment>

     <environment id="prd">
       <transactionManager type="JDBC"/>
       <dataSource type="POOLED">
             <property name="driver" value="com.mysql.jdbc.Driver"/>
             <property name="url" value="jdbc:mysql://localhost:3306/ietm?useUnicode=true&amp;characterEncoding=utf-8"/>
             <property name="username" value="root"/>
             <property name="password" value="root"/>
       </dataSource>
     </environment>

   </environments>

   	<!--上文内容-->
   	<mappers>
           <mapper resource="mappers/goods.xml"/>
    </mappers>
   	<!--下文内容-->

 </configuration>